<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quotorcloud.quotor.academy.mapper.member.MemberCardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quotorcloud.quotor.academy.api.vo.member.MemberCardVO">
        <id column="mc_id" property="id" />
        <result column="mc_member_id" property="memberId" />
        <result column="mc_member_name" property="memberName" />
        <result column="mc_member_head_img" property="memberHeadImg"/>
        <result column="mc_card_id" property="cardId" />
        <result column="mc_card_type_id" property="cardTypeId" />
        <result column="mc_card_type_name" property="cardTypeName" />
        <result column="mc_card_type_way" property="cardTypeWay" />
        <result column="mc_card_name" property="cardName" />
        <result column="mc_card_price" property="cardPrice" />
        <result column="mc_card_number" property="cardNumber" />
        <result column="mc_order_number" property="orderNumber" />
        <result column="mc_expire" property="expire" />
        <result column="mc_status" property="status" />
        <result column="mc_card_source" property="cardSource" />
        <result column="mc_card_start_date" property="cardStartDate" />
        <result column="mc_card_expire_date_type" property="cardExpireDateType" />
        <result column="mc_card_expire_date" property="cardExpireDate" />
        <result column="mc_buy_date" property="buyDate" />
        <result column="mc_shop_id" property="shopId" />
        <result column="mc_shop_name" property="shopName" />
        <result column="mc_card_initial" property="cardInitial" />
        <result column="mc_card_surplus" property="cardSurplus" />
        <result column="mc_gmt_create" property="gmtCreate" />
        <result column="mc_gmt_modified" property="gmtModified" />
        <collection property="memberCardDetailList" resultMap="BaseResultMapDetail"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapDetail" type="com.quotorcloud.quotor.academy.api.entity.member.MemberCardDetail">
        <id column="mcd_id" property="id" />
        <result column="mcd_member_card_id" property="memberCardId" />
        <result column="mcd_detail_type" property="detailType" />
        <result column="mcd_content_id" property="contentId" />
        <result column="mcd_content_name" property="contentName" />
        <result column="mcd_content" property="content" />
        <result column="mcd_content_type" property="contentType" />
        <result column="mcd_content_initial" property="contentInitial" />
        <result column="mcd_content_surplus" property="contentSurplus" />
        <result column="mcd_gmt_create" property="gmtCreate" />
        <result column="mcd_gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mc_id, mc_member_id,mc_member_name,mc_member_head_img,
        mc_card_id, mc_card_type_id, mc_card_type_name, mc_card_type_way,
        mc_card_name, mc_card_price, mc_card_number, mc_order_number, mc_expire,
        mc_status, mc_card_source, mc_card_start_date, mc_card_expire_date_type,
        mc_card_expire_date, mc_buy_date, mc_shop_id, mc_shop_name, mc_card_initial,
        mc_card_surplus, mc_gmt_create, mc_gmt_modified
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List_Detail">
        mcd_id, mcd_member_card_id, mcd_detail_type, mcd_content_id,
        mcd_content_name, mcd_content, mcd_content_type, mcd_content_initial,
        mcd_content_surplus, mcd_gmt_create, mcd_gmt_modified
    </sql>

<!--    分页查询会员卡信息-->
    <select id="listMemberCard" resultType="com.quotorcloud.quotor.academy.api.vo.member.MemberCardVO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>,
        <include refid="Base_Column_List_Detail"></include>
        from bear_member_card mc left join bear_member_card_detail mcd on mc.mc_id = mcd.mcd_member_card_id
        <where>
            <if test="card.memberId != null and card.memberId != ''">
                mc.mc_member_id = #{card.memberId}
            </if>
            <if test="card.memberIds != null and card.memberIds.size > 0">
                and mc.mc_member_id in
                <foreach collection="card.memberIds" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="card.shopId != null and card.shopId != ''">
                and mc.mc_shop_id = #{card.shopId}
            </if>
            <if test="card.shopName != null and card.shopName != ''">
                and mc.mc_shop_name = #{card.shopName}
            </if>
            <if test="card.start != null and card.start != ''">
                and DATE_FORMAT(mcd.mcd_gmt_create,'%Y-%m-%d') <![CDATA[>=]]> #{card.start}
            </if>
            <if test="card.end != null and card.end != ''">
                and DATE_FORMAT(mcd.mcd_gmt_create,'%Y-%m-%d') <![CDATA[<=]]> #{card.end}
            </if>
        </where>
    </select>

<!--    按id查询会员卡信息-->
    <select id="selectMemberCardById" resultType="com.quotorcloud.quotor.academy.api.vo.member.MemberCardVO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>,
        <include refid="Base_Column_List_Detail"></include>
        from bear_member_card mc left join bear_member_card_detail mcd on mc.mc_id = mcd.mcd_member_card_id
        where mc.mc_id = #{id}
    </select>

</mapper>
