<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quotorcloud.quotor.academy.mapper.message.MessageMassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quotorcloud.quotor.academy.api.entity.message.MessageMass">
        <id column="mm_id" property="id" />
        <result column="mm_content" property="content" />
        <result column="mm_receive_count" property="receiveCount" />
        <result column="mm_submit_time" property="submitTime" />
        <result column="mm_send_time" property="sendTime" />
        <result column="mm_message_count" property="messageCount" />
        <result column="mm_check_state" property="checkState" />
        <result column="mm_send_state" property="sendState" />
        <result column="mm_shop_id" property="shopId" />
        <result column="mm_shop_name" property="shopName" />
        <result column="mm_gmt_create" property="gmtCreate" />
        <result column="mm_gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mm_id, mm_content, mm_receive_count, mm_submit_time, mm_send_time, mm_message_count, mm_check_state, mm_send_state, mm_shop_id, mm_shop_name, mm_gmt_create, mm_gmt_modified
    </sql>

</mapper>
