<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quotorcloud.quotor.academy.mapper.employee.OrderDetailServiceStaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quotorcloud.quotor.academy.api.entity.employee.OrderDetailServiceStaff">
        <id column="ss_id" property="id" />
        <result column="ss_order_detail_id" property="orderDetailId" />
        <result column="ss_employee_id" property="employeeId" />
        <result column="ss_employee_name" property="employeeName" />
        <result column="ss_employee_no" property="employeeNo"/>
        <result column="ss_performance" property="performance" />
        <result column="ss_card_expend" property="cardExpend" />
        <result column="ss_commission" property="commission" />
        <result column="ss_gmt_create" property="gmtCreate" />
        <result column="ss_gmt_modified" property="gmtModified" />
        <association property="orderDetail" resultMap="OrderDetailMap"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="OrderDetailMap" type="com.quotorcloud.quotor.academy.api.entity.order.OrderDetail">
        <id column="od_id" property="id" />
        <result column="od_order_id" property="orderId" />
        <result column="od_content_id" property="contentId" />
        <result column="od_content_name" property="contentName" />
        <result column="od_content_price" property="contentPrice" />
        <result column="od_content_quantity" property="contentQuantity" />
        <result column="od_content_type" property="contentType" />
        <result column="od_subtotal" property="subtotal" />
        <result column="od_pay_money" property="payMoney" />
        <result column="od_gmt_create" property="gmtCreate" />
        <result column="od_gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ss_id, ss_order_detail_id, ss_employee_id, ss_employee_name, ss_performance, ss_card_expend, ss_commission, ss_gmt_create, ss_gmt_modified
    </sql>


    <!-- 订单详情查询列 -->
    <sql id="Order_Detail">
        od_id, od_order_id, od_content_id, od_content_name, od_content_price, od_content_quantity, od_content_type, od_subtotal, od_pay_money, od_gmt_create, od_gmt_modified
    </sql>

<!--    查询员工业绩-->
    <select id="listEmployeePerformance"
            resultType="com.quotorcloud.quotor.academy.api.entity.employee.OrderDetailServiceStaff" resultMap="BaseResultMap">
        select
        ss_id, ss_order_detail_id, ss_employee_id, ss_employee_name,
        sum(ss_performance) as ss_performance,
        sum(ss_card_expend) as ss_card_expend,
        sum(ss_commission) as ss_commission
        from bear_order_detail_service_staff
        <where>
            <if test="performance.startDate != null and performance.startDate != ''">
                ss_gmt_create <![CDATA[>=]]> #{performance.startDate}
            </if>

            <if test="performance.endDate != null and performance.endDate != ''">
                and ss_gmt_create <![CDATA[<=]]> #{performance.endDate}
            </if>

            <if test="performance.employeeId != null and performance.employeeId != ''">
                and ss_employee_id = #{performance.employeeId}
            </if>
        </where>
    </select>

    <select id="listEmployeePerformanceDetails"
            resultType="com.quotorcloud.quotor.academy.api.entity.employee.OrderDetailServiceStaff"
            resultMap="BaseResultMap">
                select
                <include refid="Base_Column_List"></include>,
                <include refid="Order_Detail"></include>
                from  bear_order_detail_service_staff ss
                left join bear_order_detail od on ss.ss_order_detail_id = od.od_id
                <where>
                    <if test="performance.employeeIds != null and performance.employeeIds.size > 0">
                        ss.ss_employee_id in
                        <foreach collection="performance.employeeIds" item="item" separator="," open="(" close=")" >
                            #{item}
                        </foreach>
                    </if>
                    <if test="emp.date != null and emp.date != ''">
                        and DATE_FORMAT(ss.ss_gmt_crate,'%Y-%m-%d') = #{emp.date}
                    </if>
                </where>
    </select>


</mapper>
